on:
  pull_request:
    branches: [main]

jobs:
  test_rwx:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: rwx
            version: "1.13.0"
            os: macos-13 # intel
          - name: rwx
            version: "1.13.0"
            os: macos-14 # arm
    name: test_rwx_${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3

      - name: Install rwx & run it
        run: |
          set -o pipefail
          ! command -v rwx
          brew install ./Formula/${{ matrix.name }}.rb 2>&1 | tee install-output.txt
          rwx --version | grep ${{ matrix.version }}
        env:
          HOMEBREW_DEVELOPER: 1

      - name: Ensure the integrity was verified
        run: '! grep "Cannot verify integrity of" install-output.txt'

  test_rwx_linux:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: rwx
            version: "1.13.0"
            os: ubuntu-latest
    name: test_rwx_${{ matrix.os }}
    steps:
      - name: Install homebrew
        uses: Homebrew/actions/setup-homebrew@5caa94335a28d8fdf5a478ae8586f2da40a0a989
      - name: Install rwx
        run: |
          set -o pipefail
          ! command -v rwx
          brew install rwx-cloud/tap/${{ matrix.name }}
          rwx --version | grep ${{ matrix.version }}
